body{
  background-color: #9e9e9e!important;
}
.sk{
  font-size: 17px;
  padding-left: 10px;
  padding-rigth: 10px;
}
.container1{
  padding-bottom: 12px;
}
.prj{
  font-size: 36px;
}
.hd{
  font-family: 'Concert One', cursive;
}
.al{
  font-family: 'Prosto One', cursive;
  color: #262626;
}
.main{
  /* background-image: url("../44.jpg"); */
  margin-top: 20px;
  padding-top: 100px;
  width: 100%;
  height: 700px;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
#link a{
  text-decoration: underline;
}
#link a:hover{
  text-decoration: none;
}
#link{
  color: white;
  margin-left: 19%;
  margin-right: 19%;
  background-color: #333333;
  padding: 0px 8px 15px 8px;
  border-radius: 4px;
}
h2{
  color: #262626;
}
h2{
  font-family: 'Prosto One', cursive;
}
h3{
  font-family: 'Concert One', cursive;
}